<% layout('layouts/boilerplate.ejs') %>
    <div class="row mt-3">
        <h1 class="text-center">New Campground</h1>
    </div>

    <div class="col-6 offset-3">
        <form class="validatedForm" action="/campgrounds/new" method="post" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
            </div>

            <label for="price">Price</label>
            <div class="input-group mb-3">

                <span class="input-group-text">$</span>
                <input id="price" name="campground[price]" type="text" class="form-control"
                    aria-label="Amount (to the nearest dollar)" placeholder="0.00" required>
                <div class="valid-feedback">Looks good!</div>

            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="6"
                    required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
            <div class="mb-4">
                <a class="link-secondary" href="/campgrounds">Back to campgrounds</a>
            </div>

        </form>
    </div>